/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


html {
  color: grey;
  font-family: 'Yantramanav', sans-serif;
}

.nav-SessionLinks {
  display: flex;
justify-content: space-between;
padding-left: 10px;
padding-right: 10px;
}


form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: .5px solid grey;
  max-width: 500px;
  margin: 0 auto;
}

form > h1, h2 {
  text-align: center;
}

form > input {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
}

input:hover, button:hover {
  cursor: pointer;
}

#form-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#submit-button {
  padding: 20px;
  margin: 0 auto;
  border-radius: 0px;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-index-nav {
  display: block;
  align-items: center
}

.skills-index-nav > button {
  float: right;
}


.skills-index-nav > h1 {
  color: rgb(47, 180, 198);
  text-align: center;
}

.skills-index-ul {
  list-style-type: none;
  padding: 20px;
  max-width: 70%;
  min-width: 640px;
  margin: 0 auto;
}

#skills-index-item {
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 25px;
}

#endorsement {
  color: rgb(47, 180, 198);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid rgb(47, 180, 198);
  text-align: center;
}

#endorsement:hover {
  background-color: rgb(47, 180, 198);
  color: white;
  transition: .5s;
  cursor: pointer;
}


#endorsement-grey {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: grey;
  text-align: center;
  color: white
}

#endorsement-grey:hover {
  background-color: red;
  border-color: red;
  color: white;
  transition: .5s;
  cursor: pointer;
}

#skill-name {
  padding-left: 10px;
}

#user-index {
  display: flex;
  flex-direction: column;
}

#user-name {
  font-size: 30px;
  text-decoration: none;
  color: rgb(47, 180, 198);
}

#user-name > span{
  color: white;
}

#user-name:hover {
  color: white;
  background-color: rgb(47, 180, 198);
  transition: .5s;
  width: 80%;
  border-radius: 2px;
}

#user-index-item-skills {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100px;
  width: 80%;
  border-top: .25px solid grey;
  padding: 2%;
}

#user-index-item-skills > div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

#top-six {
  font-size: 20px;
}


#other-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

#skill-endorsers {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: 20px;
  padding-right: 3%;
}

#test {
  display: flex;
  justify-content: flex-start;
}

#endorser-name {
  border: .5px solid rgb(47, 180, 198);
  border-radius: 50%;
  height: 23px;
  width: 23px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

/* #endorser-name:hover {
  background-color: rgb(47, 180, 198);
  color: white;
  transition: .5s;
} */

#logo {
  color: grey;
  text-decoration: none;
}

#logo:hover {
  color: rgb(47, 180, 198);
  transition: .5s;
}

#link {
  color: rgb(47, 180, 198);
  text-decoration: none;
}

#user-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#user-search {
  color: grey;
  font-size: 30px;
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}

#user-search:focus {
  outline: none;
}

#top-six > #skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#other-skills > #skill-container {
  display: flex;
align-items: center;
justify-content: space-evenly;
width: 28%;
border-bottom: .25px solid grey;
}

#skill-container-red {
  background-color: red;
  color: white;
}

#delete-skill-button:hover {
  color: red;
  transition: .5s;
  cursor: pointer;
}


#nav-buttons {
  display: flex;
  justify-content: space-between;
}
