/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  color: grey;
  font-family: 'Yantramanav', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: .5px solid grey;
  max-width: 500px;
  margin: 0 auto;
}

form > h1, h2 {
  text-align: center;
}

form > input {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

#form-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#submit-button {
  padding: 20px;
  margin: 0 auto;
  border-radius: 0px;
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills-index-nav {
  display: block;
  align-items: center
}

.skills-index-nav > button {
  float: right;
}

.skills-index-ul {
  list-style-type: none;
  padding: 20px;
}

#skills-index-item {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#endorsement {
  color: rgb(47, 180, 198);
  width: 20px;
  border-radius: 50%;
  border: 1px solid rgb(47, 180, 198);
  text-align: center;
}

#endorsement:hover {
  background-color: rgb(47, 180, 198);
  color: white;
  transition: .5s;
  cursor: pointer;
}


#endorsement-grey {
  width: 20px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: grey;
  text-align: center;
  color: white
}

#endorsement-grey:hover {
  background-color: red;
  border-color: red;
  color: white;
  transition: .5s;
  cursor: pointer;
}

#skill-name {
  padding-left: 10px;
}
